{% extends 'base.html' %}

{% block content %}

    <br>
<head>
    <title>블로그 메인</title>
</head>
    {% for blog in blogs %}
        <main role="main" class="container">
            <div class="jumbotron">
                <h1>제목 : {{ blog.title }}</h1>
                <br>
                <h4>작성일 : {{ blog.pub_date }}</h4>
                <br>

{#                <p class="lead">{{ blog.body | safe }}</p>#}
{#                <br>#}

                <a class="btn btn-lg btn-primary"
                   href="{% url 'detail' blog.id %}"
                   role="button">내용 확인하기. &raquo;</a>
            </div>
        </main>
    {% endfor %}

{% endblock %}
